<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="login">
      <h2 class="goodbye-msg">You are logged in.<img src="http://s2.quickmeme.com/img/f6/f6e86ae0695ce88b3ddf2aeba344db5a3a28e98a37d29e2ac14020ff13e02cf7.jpg"></h2>

    </div>
  </body>
</html>
